
.header {
  padding: 10px;
  text-align: center;
  background: #73c2fb;
  color: white;
  font-size: 30px;
}


body { margin: 0 !important; padding: 0 !important; width: 100% !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',"Open Sans", arial !important; }
.container {position: relative; overflow: hidden; height: 60vw; background-image:url(https://lh3.googleusercontent.com/fife/APg5EObC3m6qicfIco-WuiKBJuA7SOuxefl_uLFjoO2WNgWAo191k1CDZQ1drP29hYFJsC_hf2dbS6WD-q6gwKUyRQv5sQ3rQ8DP-g1zHu6EnCNMUoEGidaZlpMjPV5D7wLY363HUX7EGDrhDHAorZqFtBRMvgNdcElRwkB-rxztfu6F5i_LEDw7FD8k11v5jWdezIBVddzNXVfDxrZJJdyaMgRhsnN4U92ouFkCJ8ZCAgnxEhI1UmIDDB3NkpsQcdDq2DqxhwF2lUboLBN8rHGb_Pj6LhDPTsPDJfdUmJJHg_uRdK0-WScPerKqvbjXipEMbzmSKELK4PSjkbBagAC_DP-zAdKznou9YaY_pbag4D63pMWRA7s2YuC9kYvV5wJc3kJxQ5fUvJt2Of4m-zPu34rR0NYdbOS4Fbwt8FBjzVve_-wIMAaW8WM3ODNxgP_0T2Ae38JPQvtvbqMm-W5J8UjaVN68zcLGsjCkRVfTeFkaAIQoEpzjlZVw5Bj3HMGl1HFiy9Ctqp_TrOPPeDfZRzm7Z7eh8oe3d5Imvw5JHro3VBHOufw1FHYFza0TcQz2sSfrNqjkHYeY8ZrJmGE7h0YeQA7cfQEDtX_BFx2M2WgsV1xZJ1O9wmt2oXzUeoe4BLf_4oqRgyqOzTsizU-_A0PjmYVe0MuCxRDTwlTMk7a-u0qB7kXsRti8LSwDRw3ZzvHXRpzssnlD8cdOmohTJDjHpRamLzONGmlOx564DtfrIJr0sC0RjeRgihcaJd5j330h_fofQbHBpDWr5YGgWbkQGaOGnFm_kQE2MrUC7FauDzFgOrlW3SsMv49NR3yIKpK_AlBgUw4LoJTn1EPY8gvDU_Jkdrfvq2X-zCYmmOGsAkUejVPbQbUWbhlenFwH0QPEnN2PWHofg2ZnmHhmrufqIs_2FCUHVUWbl5F8LHqBj41w8BMWi35D3s_ggIWae4XnnkB3HW3Euy8SxYzIrc7gzEiCLIubbYYyJZ3Mhe7WrbqN2wbcrI-hg3QsJ63Mg2LNCy-hsOSe5IxAwpky3jUfC44JA7BG807C5wZkm-jg6JKZLQja1sZ4B61t0f5I2c_Q6ToQc3cnHVWH5dErylAHp1W0drsgR5UlMtXFmkwkQsNXFT1XqQWFkd7IqQTbCZNFbNBeAY-zZ4tM4Ha2gkK_Rj7XCsePygBfpcrDCFhwNO1E8CBIddg8VTx0Lkzpv6Aa3fXAz9dLt8I_e8n9oOjQLAtAJn4eAzxF8jwRHujFK5eWU063gYCav_Q0A-gwh-zPhGlbkmNvmBxxqCruZlUb4ZTPzcncH3BXX2G51lpqC3S4qmp8mYsqzAgofulYByTTwSLcQi5UAqmX6sGWAIJqTTbTv3XvhZYIPxC3hPHdNDLFzypVE57R59ba9iIc28A1cWj1lKmB9UyS6S99UkSCjqVN0MD2zOrWNjPG9OoL9O8Pd1UPM_N_vO7e2_e3lWQmO-n4c71fwwLE_7oKZsqxps6v6RrUkYsu17aNmyzGKUJ9-FHWtazLB2d4_jXZYiYePj9isJP4rA0NkFMBGWeG6CyYmnzgVVBR-YNLta4LjYbCXr5GLQnBZbGh5eMKjTH_QzE1B0eOw8cQf-epGIHfYpb4NLCVM6ST9K1pkboabcA=w1920-h937); background-size: contain; }
input { display: none; }
p { margin: 0; }
.button { color: white; font-weight: bold; font-size: 15px; background-color: #d32f2f; display: block; padding: 4px 10px; border-radius: 100%; cursor: pointer; animation: fadein .5s; animation: pulse 1.5s infinite; }
.content { background: rgba(236, 236, 236, 0.952); padding: 1rem 1rem 2rem 1rem; text-align: center; display: none; margin: 10%; border-radius: 8px; box-shadow: 0 2px 1px -1px rgba(211,47,47,0); line-height: 0; z-index: 1;}
.cross { font-weight: bold; }

.legend{line-height: 0.5; background: rgba(255, 255, 255, 0.641); padding: 1rem 1rem 2rem 1rem; display: block !important; height: auto; width: 160px;border-radius: 8px;border: black; border-style: outset;}

.legend {position: fixed; top: 10px; right: 10px;}
#subhead{line-height: 1.4; font-weight: 500;font-size: small;}

#b1 { position: absolute; left: 14%; top: 33%; }
#b2 { position: absolute; left: 16%; top: 37%; }
#b3 { position: absolute; left: 13%; top: 40%; }
#b4 { position: absolute; left: 16%; top: 43%; }
#b5 { position: absolute; left: 14%; top: 46%; }
#b6 { position: absolute; left: 5%; top: 48%; }
#b7 { position: absolute; left: 3%; top: 41%; }
#b8 { position: absolute; left: 10%; top: 54%; }
#b9 { position: absolute; left: 94%; top: 44%; }
#b10 { position: absolute; left: 95%; top: 54%; }
#b11 { position: absolute; left: 88%; top: 48%; }
#b12 { position: absolute; left: 62%; top: 33%; }
#b13 { position: absolute; left: 31%; top: 33%; }
#b14 { position: absolute; left: 32%; top: 46%; }
#b15 { position: absolute; left: 83%; top: 45%; }
#b16 { position: absolute; left: 69%; top: 44%; }
#b17 { position: absolute; left: 54%; top: 44%; }
#b18 { position: absolute; left: 39%; top: 44%; }
#b19 { position: absolute; left: 24%; top: 44%; }

#input1:checked ~ #content1,
#input2:checked ~ #content2,
#input3:checked ~ #content3,
#input4:checked ~ #content4,
#input5:checked ~ #content5,
#input6:checked ~ #content6,
#input7:checked ~ #content7,
#input8:checked ~ #content8,
#input9:checked ~ #content9,
#input10:checked ~ #content10,
#input11:checked ~ #content11,
#input12:checked ~ #content12,
#input13:checked ~ #content13,
#input14:checked ~ #content14,
#input15:checked ~ #content15,
#input16:checked ~ #content16,
#input17:checked ~ #content17,
#input18:checked ~ #content18,
#input19:checked ~ #content19 { display: block !important; animation: fadein .5s; height: 60px; width: 300px;}
input:checked ~ label .button { display: none !important; animation: fadeout .5s; }

#content1 { position: sticky; left: 14%; top: 33%; }
#content2 { position: sticky; left: 16%; top: 37%; }
#content3 { position: sticky; left: 13%; top: 40%; }
#content4 { position: sticky; left: 16%; top: 43%; }
#content5 { position: sticky; left: 14%; top: 46%; }
#content6 { position: sticky; left: 5%; top: 48%; }
#content7 { position: sticky; left: 3%; top: 41%; }
#content8 { position: sticky; left: 10%; top: 54%; }
#content9 { position: sticky; left: 94%; top: 44%; }
#content10 { position: sticky; left: 95%; top: 54%; }
#content11 { position: sticky; left: 88%; top: 48%; }
#content12 { position: sticky; left: 62%; top: 33%; }
#content13 { position: sticky; left: 31%; top: 33%; }
#content14 { position: sticky; left: 32%; top: 46%; }
#content15 { position: sticky; left: 83%; top: 45%; }
#content16 { position: sticky; left: 69%; top: 44%; }
#content17 { position: sticky; left: 54%; top: 44%; }
#content18 { position: sticky; left: 39%; top: 44%; }
#content19 { position: sticky; left: 24%; top: 44%; }


.button:hover { color: #d32f2f; background: white; }
.cta { display: inline-block; background: #d32f2f; color: white; padding: 12px 24px; margin-top: 12px; border-radius: 6px; text-decoration: none; transition: all .3s ease; }
.cta:hover { text-decoration: underline !important; box-shadow: 0 0 0 6px rgba(211, 46, 46, 0.4); }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes pulse {
  from { box-shadow: 0 0 0 0px rgba(211, 47, 47); }
  to { box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
}
